/* app.css */

.news-card {
    max-width: 345px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.news-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-card .card-text {
    flex-grow: 1;
}


