body {
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    margin-bottom: 20px;
}

.news-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.news-card {
    max-width: 345px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.news-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-card .card-text {
    flex-grow: 1;
}



.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
    gap: 16px;
    justify-items: center;
    padding: 16px;
}


html, #root 
    height: 100%;
}

.text-center {
    text-align: center;
  }
  
  .news-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  .navbar-dark-mode {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .navbar-dark-mode .navbar-brand {
    color: #ffffff;
  }
  
  .navbar-dark-mode .nav-link,
  .navbar-dark-mode .dropdown-item {
    color: #ffffff;
  }
  
  .navbar-dark-mode .btn-dark {
    background-color: #ffffff;
    color: #343a40;
  }
  